.messages {
    width: 300px;
    border: 2px solid #333;
    padding: 8px;
    margin-top: 8px;
}

.message {
    margin-bottom: 4px;
}

.message:last-child {
    margin-bottom: 0;
}

.message p {
    min-width: 50px;
    max-width: 100px;
    border-radius: 4px;
    padding: 4px 8px;
}

.contactMessage {
    display: flex;
    justify-content: flex-start;
}

.contactMessage p {
    background-color: cadetblue;
    text-align: right;
    color: #fff;
}

.userMessage {
    display: flex;
    justify-content: flex-end;
}

.userMessage p {
    background-color: cyan;
    text-align: left;
}